<div >
    <div class="col-md-3">
        <!-- Profile Image -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Menu contextuel</h3>
            </div>
            <div class="card-body box-profile">
                <span th:fragment="contextual-menu">
                    <ul class="list-group list-group-unbordered mb-3" >

                        <span th:fragment="security-common-menu">
                            <li class="list-group-item" title="Créer un nouvel utilisateur">
                                <a href="/sigrh/security/users/new-user-form">
                                    <b>Nouvel utilisateur</b> <i class="float-right bi bi-person-plus-fill"></i>
                                </a>
                            </li>
                            <li class="list-group-item" title="Voir la liste des utilisateurs">
                                <a href="/sigrh/users/user-list">
                                    <b>Liste des utilisateurs</b> <i class="text-bold float-right bi bi-people-fill"></i>
                                </a>
                            </li>

                            <li class="list-group-item" title="Créer un nouveau rôle">
                                <a href="/sigrh/security/roles/new-role-form">
                                    <b>Nouveau rôle</b> <i class="float-right bi bi-person-plus-fill"></i>
                                </a>
                            </li>
                            <li class="list-group-item" title="Voir la liste des rôles">
                                <a href="/sigrh/roles/role-list">
                                    <b>Liste des rôles</b> <i class="text-bold float-right bi bi-list-ul"></i>
                                </a>
                            </li>

                            <li class="list-group-item" title="Créer un nouveau privilège">
                                <a href="/sigrh/security/privileges/new-prv-form">
                                    <b>Nouveau privilège</b> <i
                                        class="text-bold float-right bi bi-clipboard2-plus-fill"></i>
                                </a>
                            </li>
                            <li class="list-group-item" title="Voir la liste des utilisateurs">
                                <a href="/sigrh/privileges/prv-list">
                                    <b>Liste des privilèges</b> <i class="text-bold float-right bi bi-list-ul"></i>
                                </a>
                            </li>

                            <li class="list-group-item" title="Nouvelle assignation">
                                <a href="/sigrh/assignations/new-principal-ass-form">
                                    <b>Nouvelle assignation</b> <i class="text-bold float-right bi  bi-journal-plus"></i>
                                </a>
                            </li>

                            <li class="list-group-item" th:title="'Voir la liste des assignations de l\'utilisateur ' + ${user.username}" th:if="${user}">
                                <a th:href="@{/sigrh/assignations/user-ass-list(userId=${user.userId})}">
                                    <b>Voir la liste des assignations</b> <i class="text-bold float-right bi  bi-journal-plus"></i>
                                </a>
                            </li>
                        </span>
                    </ul>
                </span>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>