<!DOCTYPE html>
<html lang="fr" th:fragment="security-menu">
    <div class="dropdown mx-1">
        <a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Comptes utilisateurs
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/sigrh/users/user-list">Liste des utilisateurs</a>
            <a class="dropdown-item" href="/sigrh/security/users/new-user-form">Nouvel utilisateur</a>
        </div>
    </div>

    <div class="dropdown mx-1">
        <a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Gestion des roles
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/sigrh/roles/role-list">Liste des roles</a>
            <a class="dropdown-item" href="/sigrh/security/roles/new-role-form">Nouveau role</a>
        </div>
    </div>

    <div class="dropdown mx-1">
        <a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Gestion des privilèges
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/sigrh/privileges/prv-list">Liste des privilèges</a>
            <a class="dropdown-item" href="/sigrh/security/privileges/new-prv-form">Nouveau privilège</a>
        </div>
    </div>

    <div class="dropdown mx-1">
        <a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Assignations
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Liste des assignations</a>
            <a class="dropdown-item" href="/sigrh/assignations/new-principal-ass-form">Nouvelle assignation</a>
        </div>
    </div>

    <div class="dropdown mx-1">
        <a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Grades
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Liste des grades</a>
            <a class="dropdown-item" href="#">Nouveau grade</a>
        </div>
    </div>
</html>