<!DOCTYPE html>
<html lang="fr" th:fragment="security-menu">
    <div class="dropdown mx-1">
        <a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Comptes utilisateurs
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Liste des utilisateurs</a>
            <a class="dropdown-item" href="#">Nouvel utilisateur</a>
        </div>
    </div>

    <div class="dropdown mx-1">
        <a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Gestion des roles
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Liste des roles</a>
            <a class="dropdown-item" href="#">Nouveau role</a>
        </div>
    </div>

    <div class="dropdown mx-1">
        <a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Gestion des privilèges
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Liste des privilèges</a>
            <a class="dropdown-item" href="#">Nouveau privilège</a>
        </div>
    </div>

    <div class="dropdown mx-1">
        <a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Assignations
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Liste des assignations</a>
            <a class="dropdown-item" href="#">Nouvelle assignation</a>
        </div>
    </div>

    <div class="dropdown mx-1">
        <a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Grades
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Liste des grades</a>
            <a class="dropdown-item" href="#">Nouveau grade</a>
        </div>
    </div>
</html>