<!DOCTYPE html>
<html lang="fr" th:fragment="side-bar">
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <img th:src="@{/dist/img/AdminLTELogo.png}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light">SIGRH [[${@scm.getAuthInstanceSigle()}]]</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image" th:if="${@scm.isAuthenticated()}">
        <img th:src="${@scm.getAuthAgentPhotoLink()}" style="width: 50px; height: 50px;"  class="img-circle" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block" th:if="${@scm.isAuthenticated()}">[[${@scm.getAuthUsername()}]] </a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item has-treeview menu-open">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Tableau de bord
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
        </li>
        <li class="nav-item has-treeview" th:if="${@scm.hasMenu('SEC')}">
          <a href="/sigrh/security/index" class="nav-link">
            <i class="nav-icon fas fa-copy"></i>
            <p>
              Comptes et accès
              <i class="fas fa-angle-left right"></i>
              <span class="badge badge-info right">6</span>
            </p>
          </a>
        </li>
        <li class="nav-item has-treeview" th:if="${@scm.hasMenu('ADM')}">
          <a href="/sigrh/administration" class="nav-link">
            <i class="nav-icon fas fa-copy"></i>
            <p>
              Administration
              <i class="fas fa-angle-left right"></i>
              <span class="badge badge-info right">6</span>
            </p>
          </a>
        </li>
        <li class="nav-item has-treeview" th:if="${@scm.hasMenu('AGT')}">
          <a href="/sigrh/agents/index" class="nav-link">
            <i class="nav-icon fas fa-chart-pie"></i>
            <p>
              Le personnel
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
        </li>
        <li class="nav-item has-treeview" th:if="${@scm.hasMenu('STR')}">
          <a href="/sigrh/structures" class="nav-link">
            <i class="nav-icon fas fa-tree"></i>
            <p>
              Les unités admin
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
        </li>
        <li class="nav-item has-treeview" th:if="${@scm.hasMenu('MVT')}">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-tree"></i>
            <p>
              Les mouvements
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="pages/UI/general.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Affectation</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/UI/icons.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Départ</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/UI/icons.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Retraite</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/UI/icons.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Décès</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item has-treeview" >
          <select>
              <option class="select2bs4">Liste des privilèges</option>
              <option th:each="auth:${@scm.getAuthorities()}" th:text="${auth}"/>
          </select>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
</html>