<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" 
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{administration/grades/grades-layout}">
    <head>
		<th:block layout:fragment="specific-css-links">
            <!-- Select2 -->
            <link rel="stylesheet" th:href="@{/plugins/select2/css/select2.min.css}">
            <link rel="stylesheet" th:href="@{/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css}">
            <link rel="stylesheet" th:href="@{/plugins/icheck-bootstrap/icheck-bootstrap.min.css}">
        </th:block>
	</head>

	<body>
        <div layout:fragment="content">
                    <div class="row">
                        <div class="col-md-3">
                            <!-- Profile Image -->
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Menu contextuel</h3>
                                </div>
                                <div class="card-body box-profile">
                                    <th:block th:replace="administration/grades/contextual-menu-frag::contextual-menu"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Liste des grades supprimés</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                            <i class="fas fa-minus"></i></button>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                <div class="card-body">

                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="card-title">
                                                    [[${grades.getNumberOfElements()}]] items affichés sur [[${grades.getTotalElements()}]]
                                                </h3>

                                                <div class="card-tools">
                                                    <ul class="pagination pagination-sm float-right">
                                                        <li th:title="Début" class="page-item"><a class="page-link" th:href="@{/sigrh/administration/grades/deleted-grades-list(pageNum=0, fonKey=${key})}">&laquo;&laquo;</a></li>
                                                        <li  th:title="Précédant" class="page-item"><a class="page-link" th:href="@{/sigrh/administration/grades/deleted-grades-list(pageNum=${currentPage > 0 ? currentPage-1 : 0}, key=${key})}">&laquo;</a></li>
                                                        <li th:each="page, status:${pages}" class="page-item" th:classappend="${status.index == currentPage ? 'active' : T(java.lang.Math).abs(status.index - currentPage) < 4 ? '' : 'd-none'}"><a class="page-link" th:href="@{/sigrh/administration/grades/grades-list(pageNum=${status.index}, key=${key})}">[[${status.count}]]</a></li>
                                                        <li th:title="Suivant" class="page-item"><a class="page-link" th:href="@{/sigrh/administration/grades/deleted-grades-list(pageNum=${currentPage < pages.length-1 ? currentPage+1 : pages.length-1}, key=${key})}">&raquo;</a></li>
                                                        <li th:title="Fin" class="page-item"><a class="page-link" th:href="@{/sigrh/administration/grades/deleted-grades-list(pageNum= ${pages.length-1}, key=${key})}">&raquo;&raquo;</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- /.card-header -->
                                            <div class="card-body p-0">

                                                <form class="form-horizontal" th:action="@{/sigrh/administration/grades/deleted-grades-list}">
                                                    <div class="card-body mt-2 m-0 p-0">
                                                        <div class="form-group row">
                                                            <input type="hidden" th:value="${currentPage}" name="pageNum">

                                                            <div class="col-md-12 mx-0 ml-3 p-0" style="display: inline">
                                                                <table class="d-inline">
                                                                    <tr>
                                                                        <td >
                                                                            <a id="lnk-reinitialize" th:href="@{/sigrh/administration/grades/deleted-grades-list(pageNum=0)}" class="btn btn-primary" >Réinitialiser</a>
                                                                        </td>
                                                                        <td style="width: 500px;">
                                                                            <input type="text" style="height: 40px;"  class="form-control p-0 m-0" th:value="${key}" name="key" id="key" placeholder="Rechercher un grade">
                                                                        </td>
                                                                        <td>
                                                                            <button class=" btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>


                                                <hr />
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th>Intitulé</th>
                                                        <th style="width: 40px">Proportion</th>
                                                        <th style="width: 150px">Nbr agents</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="grade: ${grades}">
                                                        <td>[[${grade.nomGrade}]]</td>
                                                        <td>
                                                            <div class="progress progress-xs">
                                                                <div class="progress-bar progress-bar-danger" th:style="'width:' + ${grade.proportion} + '%'"></div>
                                                            </div>
                                                        </td>
                                                        <td><span class="badge bg-danger">[[${grade.proportion}]]</span></td>
                                                        <td>
                                                            <a class="btn btn-outline-success mx-1" title="Restorer" href="#" data-toggle="modal" th:data-target="${'#restore-confirmation-modal' + grade.idGrade}"><span class="glyphicon glyphicon-name"></span> </a>

                                                            <div class="modal fade" th:id="${'restore-confirmation-modal' + grade.idGrade}">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h4 class="modal-title">Confirmation</h4>
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <p>Confirmez-vous la restoration du grade [[${grade.nomGrade}]] ?</p>
                                                                        </div>
                                                                        <div class="modal-footer justify-content-between">
                                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                            <a th:href="@{/sigrh/administration/grades/restore(idGrade=${grade.idGrade})}" type="button" class="btn btn-success">Confirmer la restoration</a>
                                                                        </div>
                                                                    </div>
                                                                    <!-- /.modal-content -->
                                                                </div>
                                                                <!-- /.modal-dialog -->
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                        <!-- /.card -->

                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                    </div>
        </div>
        <div layout:fragment="specific-scripts">
            <script th:src="@{/dist/js/demo.js}"></script>

            <!-- Select2 -->
            <script th:src="@{/plugins/select2/js/select2.full.min.js}"></script>
            <script th:src="@{/plugins/bootstrap-switch/js/bootstrap-switch.min.js}"></script>
            <script>
                $(function () {
                    //Initialize Select2 Elements
                    $('.select2').select2();

                    //Initialize Select2 Elements
                    $('.select2bs4').select2({theme: 'bootstrap4'});

                    //SWITCH
                    $("input[data-bootstrap-switch]").each(function(){
                        $(this).bootstrapSwitch('state', $(this).prop('checked'));
                    });
                });
            </script>
            <script>
            </script>
        </div>
    </body>
</html>