<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" 
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layout/layout}">
    <head>
		<th:block layout:fragment="specific-css-links">
            <!-- Select2 -->
            <link rel="stylesheet" th:href="@{/plugins/select2/css/select2.min.css}">
            <link rel="stylesheet" th:href="@{/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css}">
            <link rel="stylesheet" th:href="@{/plugins/icheck-bootstrap/icheck-bootstrap.min.css}">
        </th:block>
	</head>

	<body>
    <th:block layout:fragment="module-menu">
        <th:block th:replace="administration/administration-menu-frag.html::administration-menu"/>
    </th:block>
        <th:block layout:fragment="breadcrumb">
            <th:block th:replace="administration/grades/grades-breadcrumb-frag.html::grades-breadcrumb"/>
        </th:block>
        <div layout:fragment="content">

        </div>
        <div layout:fragment="specific-scripts">
            <script th:src="@{/dist/js/demo.js}"></script>

            <!-- Select2 -->
            <script th:src="@{/plugins/select2/js/select2.full.min.js}"></script>
            <script th:src="@{/plugins/bootstrap-switch/js/bootstrap-switch.min.js}"></script>
            <script>
                $(function () {
                    //Initialize Select2 Elements
                    $('.select2').select2();
                    //Initialize Select2 Elements
                    $('.select2bs4').select2({theme: 'bootstrap4'});
                    //SWITCH
                    $("input[data-bootstrap-switch]").each(function(){
                        $(this).bootstrapSwitch('state', $(this).prop('checked'));
                    });
                });
            </script>
        </div>
    </body>
</html>