<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" 
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{structures/str-layout}">
    <head>
		<th:block layout:fragment="specific-css-links">
            <!-- Select2 -->
            <link rel="stylesheet" th:href="@{/plugins/select2/css/select2.min.css}">
            <link rel="stylesheet" th:href="@{/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css}">
            <link rel="stylesheet" th:href="@{/plugins/icheck-bootstrap/icheck-bootstrap.min.css}">
        </th:block>
	</head>

	<body>
        <div layout:fragment="content">
             <div class="row">
                  <div class="col-md-12">
                       <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Liste des Postes</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                            <i class="fas fa-minus"></i></button>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                <div class="card-body">

                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="card-title">
                                                    [[${posts.getNumberOfElements()}]] items affichés sur [[${posts.getTotalElements()}]]
                                                </h3>

                                                <div class="card-tools">
                                                    <ul class="pagination pagination-sm float-right">
                                                        <li th:title="Début" class="page-item"><a class="page-link" th:href="@{/sigrh/posts/post-list(pageNum=0, key=${key})}">&laquo;&laquo;</a></li>
                                                        <li  th:title="Précédant" class="page-item"><a class="page-link" th:href="@{/sigrh/posts/post-list(pageNum=${currentPage > 0 ? currentPage-1 : 0}, key=${key})}">&laquo;</a></li>
                                                        <li th:each="page, status:${pages}" class="page-item" th:classappend="${status.index == currentPage ? 'active' : T(java.lang.Math).abs(status.index - currentPage) < 4 ? '' : 'd-none'}"><a class="page-link" th:href="@{/sigrh/posts/post-list(pageNum=${status.index}, key=${key})}">[[${status.count}]]</a></li>
                                                        <li th:title="Suivant" class="page-item"><a class="page-link" th:href="@{/sigrh/posts/post-list(pageNum=${currentPage < pages.length-1 ? currentPage+1 : pages.length-1}, key=${key})}">&raquo;</a></li>
                                                        <li th:title="Fin" class="page-item"><a class="page-link" th:href="@{/sigrh/posts/post-list(pageNum= ${pages.length-1}, key=${key})}">&raquo;&raquo;</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- /.card-header -->
                                            <div class="card-body p-0">

                                                <form class="form-horizontal" th:action="@{/sigrh/posts/posts-list}">
                                                    <div class="card-body mt-2 m-0 p-0">
                                                        <div class="form-group row">
                                                            <input type="hidden" th:value="${currentPage}" name="pageNum">
                                                            <input type="hidden" th:value="0" name="navigating">

                                                            <div class="col-md-12 mx-0 ml-3 p-0" style="display: inline">
                                                                <table class="d-inline">
                                                                    <tr>
                                                                        <td >
                                                                            <a id="lnk-reinitialize" th:href="@{/sigrh/posts/post-list(pageNum=0, Key='')}" class="btn btn-primary" >Réinitialiser</a>
                                                                        </td>
                                                                        <td style="width: 500px;">
                                                                            <input type="text" style="height: 40px;"  class="form-control p-0 m-0" th:value="${key}" name="key" id="key" placeholder="Rechercher une structure">
                                                                        </td>
                                                                        <td>
                                                                            <button class=" btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                                <a id="lnk-new-post" th:href="@{/sigrh/posts/new-post-form}" class="btn btn-primary float-right mr-4" >Nouvelle structure</a>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </form>


                                                <hr />
                                                <table id="posts-list" class="dataTable table table-hover table-striped table-sm">
                                                    <thead>
                                                    <tr>
                                                        <th>Intitulé</th>
                                                        <th>Fonction</th>
                                                        <th>Structure</th>
                                                        <th>Nbr</th>
                                                        <th>OQP</th>
                                                        <th>Vacants</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="post:${posts}">
                                                        <td>[[${post.intitule}]]</td>
                                                        <td>[[${post.nomFonction}]]</td>
                                                        <td>
                                                        <span class="m-0 p-0">
                                                            <ol class="breadcrumb mb-1 p-1">
                                                                <li th:each="parent, status:${post.hierarchy}" th:classappend="${status.last ? 'active' : ''}" th:title="${parent.toString()}" class="breadcrumb-item"><a th:href="'/sigrh/posts/post-details/'+${parent.strId}">[[${parent.strSigle}]]</a></li>
                                                            </ol>
                                                        </span>
                                                        </td>
                                                        <td>[[${post.nbrPosts}]]</td>
                                                        <td >[[${post.nbrPostsOccupes}]]</td>
                                                        <td>[[${post.nbrPostsVacants}]]</td>
                                                        <td>
                                                            <a class="btn btn-sm btn-outline-warning mx-1" title="Modifier" th:href="@{/sigrh/posts/update-posts-form(postGroupId=${post.postGroupId})}"><i class="bi bi-pencil text-sm"></i> </a>
                                                            <a class="btn btn-sm btn-outline-success mx-1" title="Voir" th:href="@{'/sigrh/posts/post-details/'+${post.postGroupId}}"><i class="bi bi-eye text-sm"></i> </a>
                                                            <a class="btn btn-sm btn-outline-danger mx-1" title="Supprimer" href="#" data-toggle="modal" th:data-target="${'#delete-confirmation-modal' + post.strId}"><i class="bi bi-trash text-sm"></i></a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                        <!-- /.card -->

                                </div>
                                <!-- /.card-body -->
                            </div>
                  </div>
              </div>
        </div>
        <div layout:fragment="specific-scripts">
            <script th:src="@{/dist/js/demo.js}"></script>

            <!-- Select2 -->
            <script th:src="@{/plugins/select2/js/select2.full.min.js}"></script>
            <script th:src="@{/plugins/bootstrap-switch/js/bootstrap-switch.min.js}"></script>
            <!-- Treeview Plugin JavaScript -->
            <script th:src="@{/dist/js/bootstrap-treeview.min.js}"></script>
            <script th:src="@{/dist/js/bootstrap-treeview-init.js}"></script>
            <script>
                $(function () {
                    //Initialize Select2 Elements
                    $('.select2').select2();

                    //Initialize Select2 Elements
                    $('.select2bs4').select2({theme: 'bootstrap4'});

                    //SWITCH
                    $("input[data-bootstrap-switch]").each(function(){
                        $(this).bootstrapSwitch('state', $(this).prop('checked'));
                    });
                });
            </script>
            <script>
                var defaultData = [
                    {
                        text: 'Parent 1',
                        href: '#parent1',
                        tags: ['4'],
                        nodes: [
                            {
                                text: 'Child 1',
                                href: '#child1',
                                tags: ['2'],
                                nodes: [
                                    {
                                        text: 'Grandchild 1',
                                        href: '#grandchild1',
                                        tags: ['0']
                                    },
                                    {
                                        text: 'Grandchild 2',
                                        href: '#grandchild2',
                                        tags: ['0']
                                    }
                                ]
                            },
                            {
                                text: 'Child 2',
                                href: '#child2',
                                tags: ['0']
                            }
                        ]
                    },
                    {
                        text: 'Parent 2',
                        href: '#parent2',
                        tags: ['0']
                    },
                    {
                        text: 'Parent 3',
                        href: '#parent3',
                        tags: ['0']
                    },
                    {
                        text: 'Parent 4',
                        href: '#parent4',
                        tags: ['0']
                    },
                    {
                        text: 'Parent 5',
                        href: '#parent5'  ,
                        tags: ['0']
                    }
                ];
                $('.treeview').treeview({
                    selectedBackColor: "#03a9f3",
                    onhoverColor: "rgba(0, 0, 0, 0.05)",
                    expandIcon: 'ti-plus',
                    collapseIcon: 'ti-minus',
                    nodeIcon: 'fa fa-folder',
                    data: defaultData
                });
            </script>
        </div>
    </body>
</html>