<!DOCTYPE html>
<html lang="fr" th:fragment="str-breadcrumb" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0 text-dark">
                    <span layout:fragment="page-title">Structure</span>
                </h1>
              </div><!-- /.col -->
              <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right" th:if="${viewMode} == 'list'">
                      <li class="breadcrumb-item"><a href="/sigrh/structure/str-list">Structure</a></li>
                      <li class="breadcrumb-item active">List</li>
                  </ol>
                  <ol class="breadcrumb float-sm-right" th:if="${viewMode} == 'details'">
                     <li class="breadcrumb-item"><a href="/sigrh/structure/str-list">Structure</a></li>
                     <li class="breadcrumb-item active"><a href="#">Details</a></li>
                  </ol>
                  <ol class="breadcrumb float-sm-right" th:if="${viewMode} == 'new'">
                      <li class="breadcrumb-item"><a href="/sigrh/structures">Structure</a></li>
                      <li class="breadcrumb-item active">Nouveau</li>
                  </ol>
                  <ol class="breadcrumb float-sm-right" th:if="${viewMode} == 'update'">
                      <li class="breadcrumb-item active"><a href="/sigrh/structure/str-list">Structure</a></li>
                      <li class="breadcrumb-item active">Modifier</li>
                  </ol>
                  <ol class="breadcrumb float-sm-right" th:if="${viewMode} == 'trash'">
                      <li class="breadcrumb-item active"><a href="/sigrh/structure/str-list">Structure</a></li>
                      <li class="breadcrumb-item active">Corbeille</li>
                  </ol>
              </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
</html>