<div >
    <div class="col-md-3">
        <!-- Profile Image -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Menu contextuel</h3>
            </div>
            <div class="card-body box-profile">
                <span th:fragment="contextual-menu">
                    <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item" th:if="${viewMode != 'new'}">
                            <a th:href="@{/sigrh/administration/fonctions/new-fonction-form}" title="Créer une nouvelle fonction">
                                <b>Nouvelle fonction</b> <i class="float-right fa-solid fa-circle-plus"></i>
                            </a>
                        </li>
                        <li class="list-group-item" th:if="${viewMode!='update' && viewMode != 'new' && viewMode != 'trash'}">
                            <a th:href="@{/sigrh/administration/fonctions/update-fonction-form(idFonction=${fonction.idFonction})}" th:title="${'Modifier la fonction ' + fonction.nomFonction}">
                                <b>Modifier</b> <i class="float-right fas fa-edit"></i>
                            </a>
                        </li>
                        <li class="list-group-item" th:if="${viewMode != 'new' && viewMode != 'trash'}" th:title="${'Supprimer la fonction  ' + fonction.nomFonction}">
                            <a id="lnk-delete" href="#" data-toggle="modal" data-target="#delete-confirmation-modal">
                                <b>Supprimer</b> <i class="float-right fas fa-trash"></i>
                            </a>
                            <th:block
                                    th:replace="administration/fonctions/delete-confirmation-modal-frag::delete-confirmation-modal"></th:block>
                        </li>
                        <li class="list-group-item">
                            <a th:href="@{/sigrh/administration/fonctions/fonctions-list}" title="Voir la liste des fonctions">
                                <b>Liste des fonctions</b> <i class="float-right fas fa-list"></i>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a title="Voir la liste des fonctions supprimée"
                               th:href="@{/sigrh/administration/fonctions/deleted-fonctions-list}">
                                <b>Corbeille</b> <i class="fa-solid fa-circle-trash"></i>
                            </a>
                        </li>
                    </ul>
                </span>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>