<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" 
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{administration/types/types-layout}">
    <head>
		<th:block layout:fragment="specific-css-links">
            <!-- Select2 -->
            <link rel="stylesheet" th:href="@{/plugins/select2/css/select2.min.css}">
            <link rel="stylesheet" th:href="@{/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css}">
            <link rel="stylesheet" th:href="@{/plugins/icheck-bootstrap/icheck-bootstrap.min.css}">
        </th:block>
	</head>

	<body>
        <div layout:fragment="content">
                    <div class="row">
                        <div class="col-md-3">
                            <!-- Profile Image -->
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Menu contextuel</h3>
                                </div>
                                <div class="card-body box-profile">
                                    <th:block th:replace="administration/types/contextual-menu-frag::contextual-menu"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Création d'un nouveau type</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body p-0">
                                    <form method="post" th:action="@{/sigrh/administration/types/create}" th:object="${type}">
                                        <div class="modal-body">

                                            <div class="row">
                                                <div class="col col-12">
                                                    <div th:if="${globalErrMsg}" th:text="${globalErrMsg}"
                                                         class="alert alert-danger alert-dismissible fade show"/>
                                                </div>
                                                <div class="col col-md-4 col-sm-4 ">

                                                        <div class="form-group">
                                                            <label for="typeGroup">Nature du type</label> <small
                                                                th:if="${typeGroupErrMsg}" class="text-danger">[[${typeGroupErrMsg}]]</small>
                                                            <select th:classappend="${typeGroupErrMsg} ? 'border-danger' : ''" required th:field="*{typeGroup}" class="form-control" id="typeGroup">
                                                                <option value="" >Choisir la nature du type</option>
                                                                <option th:each="group:${@typeService.getTypeGroups()}" th:value="${group.name()}">[[${group.groupName}]]</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                <div class="col col-md-4 col-sm-4 ">
                                                        <div class="form-group">
                                                            <label for="uniqueCode">Code du type</label> <small
                                                                th:if="${uniqueCodeErrMsg}" class="text-danger">[[${uniqueCodeErrMsg}]]</small>
                                                            <input th:classappend="${uniqueCodeErrMsg} ? 'border-danger' : ''" required th:field="*{uniqueCode}" type="text" class="form-control" id="uniqueCode" />
                                                        </div>
                                                    </div>

                                                <div class="col col-md-4 col-sm-4 ">
                                                    <div class="form-group">
                                                        <label for="name">Intitulé du type</label> <small
                                                            th:if="${nameCodeErrMsg}" class="text-danger">[[${nameErrMsg}]]</small>
                                                        <input th:classappend="${nameCodeErrMsg} ? 'border-danger' : ''" required th:field="*{name}" type="text" class="form-control" id="name" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <th:block th:replace="administration/types/new-confirmation-modal-frag::new-confirmation-modal"/>
                                        <div class="modal-footer justify-content-between">
                                            <a href="/sigrh/administration/types/new-type-form" class="btn btn-default" data-dismiss="modal">Annuler</a>
                                            <button type="button" data-toggle="modal" data-target="#new-confirmation-modal" class="btn btn-primary">Enregistrer</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
        </div>
        <div layout:fragment="specific-scripts">
            <script th:src="@{/dist/js/demo.js}"></script>

            <!-- Select2 -->
            <script th:src="@{/plugins/select2/js/select2.full.min.js}"></script>
            <script th:src="@{/plugins/bootstrap-switch/js/bootstrap-switch.min.js}"></script>
            <script>
                $(function () {
                    //Initialize Select2 Elements
                    $('.select2').select2();

                    //Initialize Select2 Elements
                    $('.select2bs4').select2({theme: 'bootstrap4'});

                    //SWITCH
                    $("input[data-bootstrap-switch]").each(function(){
                        $(this).bootstrapSwitch('state', $(this).prop('checked'));
                    });
                });
            </script>
        </div>
    </body>
</html>