<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{administration/administration-layout}">
    <head>
		<th:block layout:fragment="specific-css-links">
            <!--Select2-->
           <link rel="stylesheet" th:href="@{/plugins/select2/css/select2.min.css}">
           <link rel="stylesheet" th:href="@{/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css}">
           <!-- <link rel="stylesheet" th:href="@{/plugins/icheck-bootstrap/icheck-bootstrap.min.css}" />-->
        </th:block>
	</head>

	<body>
        <div layout:fragment="content">
                    <div class="row">
                        <div class="col-md-3">
                            <!-- Profile Image -->
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Menu contextuel</h3>
                                </div>
                                <div class="card-body box-profile">
                                    <th:block th:replace="administration/instances/contextual-menu-frag::contextual-menu"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Création d'une nouvelle instance</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body p-0">
                                    <form method="post" th:action="@{/sigrh/instances/create}" th:object="${dto}">
                                        <div class="modal-body">

                                            <div class="row">
                                                <div class="col col-12">
                                                    <div th:if="${globalErrMsg}" th:text="${globalErrMsg}"
                                                         class="alert alert-danger alert-dismissible fade show"/>
                                                </div>
                                                <div class="col col-md-4 col-sm-12">
                                                    <div class="form-group">
                                                        <label for="instanceName">Nom de l'instance</label> <small
                                                            th:if="${instanceNameErrMsg}" class="text-danger">[[${instanceNameErrMsg}]]</small>
                                                        <input th:classappend="${instanceNameErrMsg} ? 'border-danger' : ''" required th:field="*{instanceName}" class="form-control" id="instanceName" />
                                                    </div>
                                                </div>
                                                <div class="col col-md-4 col-sm-12">
                                                    <div class="form-group">
                                                        <label for="headId">Structure chapeau</label> <small
                                                            th:if="${headIdErrMsg}" class="text-danger">[[${headIdErrMsg}]]</small>
                                                        <select th:classappend="${headIdErrMsg} ? 'border-danger' : ''" th:field="*{headId}" class="form-control select2bs4" id="headId" >
                                                            <option value="" >Choisir la structure</option>
                                                            <option th:each="str:${structures}" th:value="${str.strId}" th:title="${str.strName + '(' + str.hierarchySigles + ')'}">[[${str.strName}]] ([[${str.strSigle}]])</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col col-md-4 col-sm-12">
                                                    <div class="form-group">
                                                        <label for="rhId">Structure</label> <small
                                                            th:if="${rhIdErrMsg}" class="text-danger">[[${rhIdErrMsg}]]</small>
                                                        <select th:classappend="${rhIdErrMsg} ? 'border-danger' : ''" th:field="*{rhId}" class="form-control select2bs4" id="rhId" >
                                                            <option value="" >Choisir la structure</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <th:block th:replace="administration/instances/new-confirmation-modal-frag::new-confirmation-modal"/>
                                        <div class="modal-footer justify-content-between">
                                            <a href="/sigrh/instances/new-instance-form" class="btn btn-default" data-dismiss="modal">Annuler</a>
                                            <button type="button" data-toggle="modal" data-target="#new-confirmation-modal" class="btn btn-primary">Enregistrer</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
        </div>
        <div layout:fragment="specific-scripts">
            <script th:src="@{/dist/js/demo.js}"></script>

            <!-- Select2 -->
            <script th:src="@{/plugins/select2/js/select2.full.min.js}"></script>
            <script th:src="@{/plugins/bootstrap-switch/js/bootstrap-switch.min.js}"></script>


            <script>
                $(function () {
                    //Initialize Select2 Elements
                    $('.select2').select2();

                    //Initialize Select2 Elements
                    $('.select2bs4').select2({theme: 'bootstrap4'});

                    //SWITCH
                    $("input[data-bootstrap-switch]").each(function(){
                        $(this).bootstrapSwitch('state', $(this).prop('checked'));
                    });
                });
            </script>
            <script>
                $("#headId").change(e=>
                {
                    $.ajax(
                        {
                            url: "/sigrh/structures/getAllChildren/" + $("#headId").val(),
                            success: response=>
                            {
                                console.log(response)
                                $("#rhId").empty();
                                $("#rhId").append('<option value="" >Choisir la structure en charge des ressources humaines</option>')
                                $.each(response, (index, str)=>
                                {
                                    $("#rhId").append('<option value="' + str.strId + '" title="'+ str.hierarchySigles+'">'+ str.strName + '-' + str.strSigle + '</option>')
                                });
                            },
                            error: err=>
                            {
                                console.log(err);
                            }
                        }
                    );
                });
            </script>
            <script>
            </script>
        </div>
    </body>
</html>